body{
    margin: 0;
    padding: 0;
    background-color:azure;
    
}
.img_ielts{
  text-align: center;
  padding:10px

}
.img_ielts img{
  width: 700px;
  max-width: 100%;
 
}
.container{
    max-width: 500px;
}